<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
</head>
<body>
    {% if user.is_authenticated and user.is_staff %}
        <form action="/vacancy/new" method="post">{% csrf_token %}
            <label for="description">Description: </label>
            <input type="text" id="description" name="description">
            <br>
            <input type="submit" value="Create">
        </form>
        <br><br>
        <button><a href="/">Back</a></button>
    {% elif user.is_authenticated and not user.is_staff %}
        <form action="/resume/new" method="post">{% csrf_token %}
            <label for="description">Description: </label>
            <input type="text" id="description" name="description">
            <br>
            <input type="submit" value="Create">
        </form>
        <br><br>
        <button><a href="/">Back</a></button>
    {% else %}
    <div>
        <h2>You should <a href="/signup">SignUp</a> or <a href="/login">Login</a> in order to post a vacancy or resume</h2>
    </div>
    {% endif %}
</body>
</html>