<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h2>Welcome to the reading club</h2>
<p>
    Our reading clubs are safe, informal spaces where children can freely arrive to engage with books and stories.
    These clubs are run by Nal’iabli representatives, volunteers, parents, librarians and FUNda Leaders.
    YOU can start or join a reading club too!
    In fact, reading clubs are run best by people who love stories and books and want to help children grow to love reading.
    You don’t have to be a teacher or librarian – you can learn about the world of children’s stories and books at the reading club.
    Most reading clubs are run by volunteers, so you don’t get paid.
    Your payment is in the fun you have and the satisfaction that you are making a difference!
</p>
<p>
    The link to the introduction form is <b>coming soon</b>
</p>


</body>
</html>


